# env vars used in tests
SPACELIFT_API_KEY_ENDPOINT=
SPACELIFT_API_KEY_SECRET=
SPACELIFT_API_KEY_ID=

SPACELIFT_PROVIDER_TEST_IPS=

# Azure DevOps source code fixtures (default integration)
SPACELIFT_PROVIDER_TEST_SOURCECODE_AZUREDEVOPS_DEFAULT_NAME=
SPACELIFT_PROVIDER_TEST_SOURCECODE_AZUREDEVOPS_DEFAULT_ID=
SPACELIFT_PROVIDER_TEST_SOURCECODE_AZUREDEVOPS_DEFAULT_PERSONALACCESSTOKEN=
SPACELIFT_PROVIDER_TEST_SOURCECODE_AZUREDEVOPS_DEFAULT_USERFACINGHOST=
SPACELIFT_PROVIDER_TEST_SOURCECODE_AZUREDEVOPS_DEFAULT_ORGANIZATIONURL=
SPACELIFT_PROVIDER_TEST_SOURCECODE_AZUREDEVOPS_DEFAULT_WEBHOOKSECRET=
SPACELIFT_PROVIDER_TEST_SOURCECODE_AZUREDEVOPS_DEFAULT_WEBHOOKURL=
SPACELIFT_PROVIDER_TEST_SOURCECODE_AZUREDEVOPS_DEFAULT_VCSCHECKS=
SPACELIFT_PROVIDER_TEST_SOURCECODE_AZUREDEVOPS_DEFAULT_USEGITCHECKOUT=

# Azure DevOps source code fixtures (space-level integration)
SPACELIFT_PROVIDER_TEST_SOURCECODE_AZUREDEVOPS_SPACELEVEL_NAME=
SPACELIFT_PROVIDER_TEST_SOURCECODE_AZUREDEVOPS_SPACELEVEL_ID=
SPACELIFT_PROVIDER_TEST_SOURCECODE_AZUREDEVOPS_SPACELEVEL_SPACE=
SPACELIFT_PROVIDER_TEST_SOURCECODE_AZUREDEVOPS_SPACELEVEL_PERSONALACCESSTOKEN=
SPACELIFT_PROVIDER_TEST_SOURCECODE_AZUREDEVOPS_SPACELEVEL_USERFACINGHOST=
SPACELIFT_PROVIDER_TEST_SOURCECODE_AZUREDEVOPS_SPACELEVEL_ORGANIZATIONURL=
SPACELIFT_PROVIDER_TEST_SOURCECODE_AZUREDEVOPS_SPACELEVEL_WEBHOOKSECRET=
SPACELIFT_PROVIDER_TEST_SOURCECODE_AZUREDEVOPS_SPACELEVEL_WEBHOOKURL=
SPACELIFT_PROVIDER_TEST_SOURCECODE_AZUREDEVOPS_SPACELEVEL_VCSCHECKS=
SPACELIFT_PROVIDER_TEST_SOURCECODE_AZUREDEVOPS_SPACELEVEL_USEGITCHECKOUT=

# Azure DevOps source code fixtures (repository)
SPACELIFT_PROVIDER_TEST_SOURCECODE_AZUREDEVOPS_REPOSITORY_NAME=
SPACELIFT_PROVIDER_TEST_SOURCECODE_AZUREDEVOPS_REPOSITORY_NAMESPACE=
SPACELIFT_PROVIDER_TEST_SOURCECODE_AZUREDEVOPS_REPOSITORY_BRANCH=

SPACELIFT_PROVIDER_TEST_GITLAB_API_HOST=
SPACELIFT_PROVIDER_TEST_GITLAB_WEBHOOK_SECRET=
SPACELIFT_PROVIDER_TEST_GITLAB_WEBHOOK_ENDPOINT=

SPACELIFT_PROVIDER_TEST_GITHUB_ENTERPRISE_API_HOST=
SPACELIFT_PROVIDER_TEST_GITHUB_ENTERPRISE_WEBHOOK_SECRET=
SPACELIFT_PROVIDER_TEST_GITHUB_ENTERPRISE_APP_ID=

SPACELIFT_PROVIDER_TEST_BITBUCKET_DATACENTER_API_HOST=
SPACELIFT_PROVIDER_TEST_BITBUCKET_DATACENTER_WEBHOOK_SECRET=
SPACELIFT_PROVIDER_TEST_BITBUCKET_DATACENTER_WEBHOOK_URL=
SPACELIFT_PROVIDER_TEST_BITBUCKET_DATACENTER_USER_FACING_HOST=
