# env vars used in tests
SPACELIFT_API_KEY_ENDPOINT=
SPACELIFT_API_KEY_SECRET=
SPACELIFT_API_KEY_ID=

SPACELIFT_PROVIDER_TEST_IPS=

SPACELIFT_PROVIDER_TEST_GITLAB_API_HOST=
SPACELIFT_PROVIDER_TEST_GITLAB_WEBHOOK_SECRET=
SPACELIFT_PROVIDER_TEST_GITLAB_WEBHOOK_ENDPOINT=

SPACELIFT_PROVIDER_TEST_GITHUB_ENTERPRISE_API_HOST=
SPACELIFT_PROVIDER_TEST_GITHUB_ENTERPRISE_WEBHOOK_SECRET=
SPACELIFT_PROVIDER_TEST_GITHUB_ENTERPRISE_APP_ID=

SPACELIFT_PROVIDER_TEST_BITBUCKET_DATACENTER_API_HOST=
SPACELIFT_PROVIDER_TEST_BITBUCKET_DATACENTER_WEBHOOK_SECRET=
SPACELIFT_PROVIDER_TEST_BITBUCKET_DATACENTER_USER_FACING_HOST=
