name: GoSec

on:
  push:
    branches: [main, future]
  pull_request:
    branches: [main, future]
  schedule:
    - cron: "19 7 * * 0"

jobs:
  build:
    name: Analyze
    runs-on: ubuntu-latest
    env:
      GO111MODULE: on

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Run GoSec Security Scanner
        uses: securego/gosec@master
        with:
          args: "-severity=medium -no-fail -fmt sarif -out gosec-results.sarif ./..."

      - name: Upload GoSec scan results to GitHub Security tab
        uses: github/codeql-action/upload-sarif@v1
        with:
          sarif_file: "gosec-results.sarif"
