name: Test

on: [pull_request]

jobs:
  deployment:
    name: Test the code
    runs-on: ubuntu-latest
    container: golang:1.13

    steps:
      - name: Check out repository code
        uses: actions/checkout@master
      
      - name: Show environment
        run: env

      - name: Check formatting using gofmt
        run: gofmt -s -l -d .

      - name: Check for suspicious constructs using "go vet"
        run: go vet ./...

      - name: Lint the code using "golint"
        run: go get -u golang.org/x/lint/golint && golint -set_exit_status ./...
      
      - name: Run staticcheck
        run: go get -u honnef.co/go/tools/cmd/staticcheck && staticcheck ./...

      - name: Test with coverage
        run: go test -coverprofile=coverage.txt -coverpkg=./... ./...
        env:
          SPACELIFT_API_KEY_ENDPOINT: ${{ secrets.SPACELIFT_API_KEY_ENDPOINT }}
          SPACELIFT_API_KEY_ID: ${{ secrets.SPACELIFT_API_KEY_ID }}
          SPACELIFT_API_KEY_SECRET: ${{ secrets.SPACELIFT_API_KEY_SECRET }}

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: ./coverage.txt
          fail_ci_if_error: true
