name: Test

on: [push]

jobs:
  deployment:
    name: Test the code
    runs-on: ubuntu-latest
    container: golang:1.18

    steps:
      - name: Check out repository code
        uses: actions/checkout@master

      - name: Check formatting using gofmt
        run: gofmt -s -l -d .

      - name: Check for suspicious constructs using "go vet"
        run: go vet ./...

      - name: Lint the code using "golint"
        run: go get -u golang.org/x/lint/golint && golint -set_exit_status ./...

      - name: Run staticcheck
        run: go get -u honnef.co/go/tools/cmd/staticcheck && staticcheck ./...

      - name: Test with coverage
        run: go test -parallel 20 -coverprofile=coverage.txt -coverpkg=./... ./...
        env:
          SPACELIFT_API_KEY_ENDPOINT: ${{ secrets.SPACELIFT_API_KEY_ENDPOINT }}
          SPACELIFT_API_KEY_ID: ${{ secrets.SPACELIFT_API_KEY_ID }}
          SPACELIFT_API_KEY_SECRET: ${{ secrets.SPACELIFT_API_KEY_SECRET }}
          SPACELIFT_PROVIDER_TEST_IPS: ${{ secrets.SPACELIFT_PROVIDER_TEST_IPS }}
          SPACELIFT_PROVIDER_TEST_GITLAB_API_HOST: https://gitlab.com
          SPACELIFT_PROVIDER_TEST_GITLAB_WEBHOOK_SECRET: ${{ secrets.SPACELIFT_PROVIDER_TEST_GITLAB_WEBHOOK_SECRET }}
          SPACELIFT_PROVIDER_TEST_GITHUB_ENTERPRISE_API_HOST: https://api.github.com
          SPACELIFT_PROVIDER_TEST_GITHUB_ENTERPRISE_WEBHOOK_SECRET: ${{ secrets.SPACELIFT_PROVIDER_TEST_GITHUB_ENTERPRISE_WEBHOOK_SECRET }}
          SPACELIFT_PROVIDER_TEST_GITHUB_ENTERPRISE_APP_ID: 135337
          SPACELIFT_PROVIDER_TEST_BITBUCKET_DATACENTER_API_HOST: private://bitbucket-datacenter-agent-pool
          SPACELIFT_PROVIDER_TEST_BITBUCKET_DATACENTER_WEBHOOK_SECRET: ${{ secrets.SPACELIFT_PROVIDER_TEST_BITBUCKET_DATACENTER_WEBHOOK_SECRET }}
          SPACELIFT_PROVIDER_TEST_BITBUCKET_DATACENTER_USER_FACING_HOST: http://localhost:7990
          SPACELIFT_PROVIDER_TEST_AZURE_DEVOPS_ORGANIZATION_URL: https://dev.azure.com/spacelift-ci0377
          SPACELIFT_PROVIDER_TEST_AZURE_DEVOPS_WEBHOOK_PASSWORD: ${{ secrets.SPACELIFT_PROVIDER_TEST_AZURE_DEVOPS_WEBHOOK_PASSWORD }}
