name: github.packages.tf

on: { push }

jobs:
  goreleaser:
    name: Release
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with: { fetch-depth: 0 }

      - name: Set up Go
        uses: actions/setup-go@v2
        with: { go-version: 1.18 }

      - name: Import GPG key
        id: import_gpg
        uses: paultyng/ghaction-import-gpg@v2.1.0
        env:
          GPG_PRIVATE_KEY: ${{ secrets.GPG_PRIVATE_KEY }}
          PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}

      - name: Install spacectl
        uses: spacelift-io/setup-spacectl@main
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: List versions for preprod
        run: spacectl provider list-versions --type=spacelift
        env:
          SPACELIFT_API_KEY_ENDPOINT: https://spacelift-io.app.spacelift.dev
          SPACELIFT_API_KEY_ID: ${{ secrets.SPACELIFT_PREPROD_API_KEY_ID }}
          SPACELIFT_API_KEY_SECRET: ${{ secrets.SPACELIFT_PREPROD_API_KEY_SECRET }}

      - name: List versions for prod
        run: spacectl provider list-versions --type=spacelift
        env:
          SPACELIFT_API_KEY_ENDPOINT: https://spacelift-io.app.spacelift.io
          SPACELIFT_API_KEY_ID: ${{ secrets.SPACELIFT_PROD_API_KEY_ID }}
          SPACELIFT_API_KEY_SECRET: ${{ secrets.SPACELIFT_PROD_API_KEY_SECRET }}

      - name: Set up release notes
        run: |
          echo ${{ steps.import_gpg.outputs.fingerprint }} > key.fingerprint
          gpg --armor --export ${{ steps.import_gpg.outputs.keyid }} > key.asc
        
      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          version: latest
          args: release --rm-dist
        env:
          GPG_FINGERPRINT: ${{ steps.import_gpg.outputs.fingerprint }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
